name: Deploy to Zeabur

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Deploy to Zeabur
        working-directory: ./out
        run: npx zeabur@latest deploy -i=false --service-id ${{ secrets.ZEABUR_SERVICE_ID }} --environment-id ${{ secrets.ZEABUR_ENV_ID }}
        env:
          ZEABUR_TOKEN: ${{ secrets.ZEABUR_TOKEN }}
